{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}
    <div class="alert alert-warning"style="display:inline-block; width:300px;" role="alert">
  This map is not related to this project
</div>
    <section class="banner"><!--the banner-->
        <div >
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.0750960031087!2d38.73692091349649!3d9.05691489350149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b8f350fce1a09%3A0x9b9773a5bb80aa81!2sSheger%20Park!5e0!3m2!1sen!2set!4v1598545644815!5m2!1sen!2set" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </section>
    <div class="alert alert-primary" style="display:inline-block; width:300px;" role="alert">


    <h1>Contact us 🗺🚕📡</h1>
    <p>
        The above map is not related to this project
    </p></div>
{% endblock %}