{% extends "layout.html" %}

{% block title %}
    Stories
{% endblock %}


{% block main %}



                  {% for tab in table %}



                    <div class="card" style="width: 18rem;display:inline-block">

      <img src="https://i.ibb.co/25V8kYw/Div2.jpg" style="max-height:300px;"class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">{{tab["title"]}}</h2>
        <p class="card-text">This story has a {{tab["theme"]}} theme and {{tab["numofwords"]}}  word(s) to fill.It was played {{tab["popularity"]}} times.</p>

        <form action="/" method="post">
      <button value="{{tab['id']}}"  name="button" class="btn btn-warning">play</button></td>
      </form>
      </div>
    </div>
 

{% endfor %}





















    </div>







<script src="static/main.js"></script>

















<script src="static/main.js"></script>
{% endblock %}
