{% extends "layout.html" %}

{% block title %}
    Stories
{% endblock %}

{% block style%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">

            .written{
                width:50%;
                border:2px solid black;
                float:left;
            }
        </style>
{% endblock %}

{% block main %}
    <div class ="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1>Your Story😂</h1>
                            </div>

                            <div class="modal-body">
                                <div style = " background-color:lightgray;"name="written"  id="fin">{{title['story']}}

                            </div>

                            </div>
                            <div class="modal-footer">
                                <button  class="btn btn-default" value="close" data-dismiss="modal" name="button">end</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;background-color:darkgray;display: inline-block;">
                        <div class="card-body">
                            <h5 class="card-title">{{title["title"]}}</h5>
                            <div style="color:gray;display: inline-block;width: auto;height: auto;" id="id">
                                write your word between the braces using the key words.<br>
                                <textarea cols="30" rows="6.7" name="story" id="key"  required>{{title["keys"]}}</textarea>
                            </div>
                            <br>
                         <a href="#" onclick="Write();"data-toggle="modal" data-target="#myModal"class="btn btn-primary">Have fun</a>
                         <form action="/play" method="post">
                                <button  class="btn btn-warning" value="{{title['id']}}" name="button">like👍</button>
                        </form>


  </div>
</div>


                         <div style = "display:none"class="written" id="no">
                             {{title["numofwords"]}}
                         </div>

                </div>
            </div>
        </div>












    </div>







<script src="static/main.js"></script>


{% endblock %}
