{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<div class="card" style="width: 18rem;background-color:darkgray;display: inline-block;">
                        <div class="card-body">
    <form action="/search" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title..." type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    </div>
    </div>
{% endblock %}